body {
    height: 100%;
    margin: 0px;
    font-size: 28px;
    padding:0;
    font-family: 'Oswald';
    background-color: #464646;
    color: #FFFAFF;
}
* {box-sizing: border-box;
  white-space:nowrap;}

h1 {
  font-family: 'Oswald';
  color: #418EC9;
}
h2 {
  font-family: 'Oswald';
  color: #418EC9;

}
h3 {
  font-family: 'Oswald';
  color: #418EC9;

}
a {
  font-family: 'Oswald';
  color: #418EC9;
  text-decoration: none;
}
a:hover {
  font-family: 'Oswald';
  color: #419C79;
}
.header {
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
}

#footer{
  width: 100%;
  height: 280px;
  background-color: rgb(128, 128, 128);
  margin-top: 300px;
  position: relative;
  clear: both;
}

.img-with-text {
  text-align: justify;
  margin: 10px;
  font-size: 17px;
  width: 100px;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.bg-img {
    /* The image used */
    min-height: 1080px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
}

.container {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 100%
}
.container span{
  text-transform: uppercase;
  display: block
  }

.text1{
  color: #FFFAFF;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: -40px;
  position: relative;
  animation: text1 2s 1;
}

.text2{
  font-size: 30px;
  color: #FFFAFF;
  animation: text2 2.4s 1;
}


@keyframes text1{
  0%{
    right: 17.1%;
    opacity: .15;
    margin-bottom: -40px;
  }
  100%{
    right: 0%;
    opacity: 1;
    margin-bottom: -40px
  }  
}

@keyframes text2{
  0%{
    opacity: 0
  }
  75%{
    opacity: 0;
  }
  100%{
      opacity: 1
  }  
}

/* Position the navbar container inside the image */
.container-nav {
  position: relative;
  margin: 0px;
  width: 100%;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: right;
  display: block;
  color: #FFFAFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #071C2B;
  color: #FFFAFF;
}

.sticky {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

div.imtext {
    font-size: 80px;
    color: #FFFAFF;
  }

#main {
  float:right;
  width:500px;
  background:#9c9;
  }
  
#sidebar {
  float:right;
  width:250px;
  background:#c9c;
  }

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 90%;

  width: 200px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 10%; /* Stay at the top */
  left: 80%;
  background-color: #464646; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFAFF;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.button {
  background-color: #418EC9; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  position: absolute;
  color: black;
  left: 1300px;
  border: 2px solid #418EC9;
}

.button1:hover {
  background-color: #419C79;
  color: white;
}

.content {
  margin-left:5%;
  width: 45%;
  padding: 20px;
  overflow: hidden;
}

.content img {
  margin-right: 15px;
  float: left;
}

.content h3,
.content p{
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
}